@import 'normalize.css';

:root {
    --bg: rgb(246, 246, 236);
    --bg-border: rgb(231, 236, 240);
    --content-width: 120rem;
    --main-color: rgb(0, 89, 217);
    --font-size: 62.5%;
}

html {
    font-size: var(--font-size);
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

.container {
    max-width: var(--content-width);
    margin: 0 auto;
    border: 4px solid var(--bg-border);
}

.accordion {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    padding: 2%;

}

input {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    width: 0;
    height: 0;
}

.accordion__item {
    border-top: 1px solid rgb(217, 222, 228);
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--main-color);
}

.item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__icon {
    background-image: url("../assets/plus.svg");
    width: 3rem;
    height: 3rem;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.item__img {
    display: flex;
    justify-content: center;
    height: 0;
    border-radius: 1rem;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.item__img img {
    width: 50%;
}

.accordion__item:hover .item__img {
    height: 100%;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.accordion__item:hover .item__icon {
    transform: rotate(45deg);
}

.accordion:hover .item__icon {
    opacity: 1;
}

.accordion:hover .accordion__item {
    color: black;
}

input:checked ~ .item__header {
    color: black;
}

input:checked ~ .item__img {
    height: 100%;
    opacity: 1;
    transition: opacity 1s;
}

input:checked ~ .item__header .item__icon {
    transform: rotate(45deg);
}

.accordion__item:active {
    opacity: 0.3;
}

/* when hover is supported */
@media (hover: hover) {
    .accordion__item:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 820px) {
    :root {
        --font-size: 55%;
    }

    .item__img img {
        width: 70%;
    }
}

@media screen and (max-width: 320px) {
    :root {
        --font-size: 45%;
    }

    .item__img img {
        width: 90%;
    }
}
